// transition speed
$time: 0.3s;

// thumbnails
$thumbs-list-height: 150px;
$thumbs-list-padding: 15px;
$thumbs-list-background: blue;
$thumbs-icon-color: #ffffff;
$thumbs-border-size: 2px;
$thumbs-border-style: solid;
$thumbs-border-color: gray;
$thumbs-active-border-color: lime;
