$thumbs-list-height: 150px;
$thumbs-list-padding: 15px;
$thumbs-list-background: blue;
$thumbs-icon-color: #ffffff;
$thumbs-border-size: 2px;
$thumbs-border-style: solid;
$thumbs-border-color: gray;
$thumbs-active-border-color: lime;

* {
    @include box-sizing(border-box);
    &:before,
    &:after {
        @include box-sizing(border-box);
    }
}

.pswp__scroll-wrap {
    .pswp__has-thumbs & {
        height: auto;
        bottom: $thumbs-list-height;
    }
}

.pswp__thumbs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: {
        color: $thumbs-list-background;
    }
    ul {
        //reset begin
        padding: 0;
        margin: 0;
        list-style: none;
        //reset end
        @include pie-clearfix;
        white-space: nowrap;
        height: 100%;
    }
    li {
        display: inline-block;
        cursor: pointer;
        margin: {
            left: 4px;
        }
        img {
            display: block;
            height: $thumbs-list-height - (($thumbs-border-size * 2) + ($thumbs-list-padding * 2));
        }
        &:first-child {
            margin: {
                left: 0;
            }
        }
        border: {
            size: $thumbs-border-size;
            style: $thumbs-border-style;
            color: $thumbs-border-color;
        }
    }
    .pswp__thumb-active {
        border: {
            color: $thumbs-active-border-color;
        }
    }
    .pswp__thumbs-list {
        padding: $thumbs-list-padding;
        height: $thumbs-list-height;
    }
}
