* {
    @include box-sizing(border-box);
    &:before,
    &:after {
        @include box-sizing(border-box);    
    }
}

.pswp__scroll-wrap {
    .pswp__has-thumbs & {
        height: auto;
        bottom: 100px;
    }   
}

.pswp__thumbs {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: blue;
    overflow-x: auto;
    overflow-y: hidden;
    ul {
        //reset begin
        padding: 0;
        margin: 0;
        list-style: none;
        //reset end
        @include pie-clearfix;
        white-space: nowrap;
        height: 100%;
    }
    li {
        display: inline-block;
        img {
            display: block;
            height: 76px;
        }
        margin: {
            left: 4px;
        }
        &:first-child {
            margin: {
                left: 0;
            }
        }
        border: 3px solid transparent;
    }
    .pswp__thumb-active {
        border: {
            color: red;
        }
    }
    .pswp__thumbs-list {
        padding: 10px;
        height: 100px;    
    }
}