@import "compass";

.gallery {
	@include pie-clearfix;
	> a {
		display: block;
		position: relative;
		width: 25%;
		float: left;
		&:before {
			content: "";
			display: block;
			margin-top: 60%;
		}
		img {
			display: block;
			max-width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}